<html>
    <head>
        <title><%= title %>></title>
    </head>
    <body>
        <section id="main">
            <section id="header" class="child">
                  <h1 id="name"> James Dibnah <span> Software developer </span> </h1>
            </section>

            <section id="slider" class="child">
                <div class="sliderChild"> Javascript </div>
                <div class="sliderChild"> Python </div>
                <div class="sliderChild"> React </div>
            </section>

            <section id="menu" class="child">
                <ul>
                    <li> <a> Home </a> </li>
                    <li> <a href='#'> Projects </a> </li>
                    <li> <a href='#'> About me </a> </li>
                </ul>
            </section>

            <section id="content" class="child">

            </section>

            <section id="footer" class="child">
                <h1> James Dibnah - Copyright 2018 </h1>
            </section>
        </section>

        <section id="backToTop">
              <h1> <a> Up </a> </h1>
        </section>
    </body>
</html>
